/* ====== Transaction Section ====== */
.aos-section{
  background: url(../img/aos-bg.jpg) no-repeat center center/cover;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  overflow: hidden;
  position: relative;
}

.aos-title {
    font-size: 2rem;
    color: #E8EDEA;
}

.aos-form {
    background-color: #f4f8fd1a;
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 12px;
    color: #E8EDEA;
    align-items: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    color: #E8EDEA;
    font-weight: 500;
    font-size: 0.9rem;
}

.readonly-input {
    background-color: #E8EDEA;
    border: 1px solid #444;
    color: #0C0E19;
    font-size: 0.9rem;
    padding: 8px 10px;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
}

.readonly-input:read-only {
    background-color: #E8EDEA;
    cursor: default;
}