/* === ABOUT PAGE MAIN BACKGROUND === */
.about-hero-section {
    background: url(../img/about-bg.png) no-repeat center center / cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* === TEXT STYLES === */

/* "Who Are We?" */
.about-title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    text-align: center;
}

/* Paragraph under "Who Are We?" */
.about-description {
    font-size: 1.25rem;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    text-align: center;
    color: white;
}

/* "Meet The Team" */
.team-title {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}