.dashboard-wrapper {
    background: url(../img/admin-bg.png) no-repeat center center / cover;
    min-height: 100vh;
    padding: 100px 20px;
}

/* Title */
.dashboard-welcome {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}
